<div class="head">
	<div class="container">
		<div class="hero"></div>
		<div id="page-arrow">
			<a ng-click="scrollTo('search')">
				<img src="assets/Images/page-1.png">
			</a>
		</div>
		<span id="powered-by-Spotify">Powered by Spotify</span>
		<img class="logo" src="assets/Images/gl-logo@2x.png">
	</div>
</div>
<div id="search-container">
	<div>
		<div class="form-group">
			<input type="text" id="search" ng-model="artistName" placeholder="Search for artist or album title" autocomplete="off">
			<button ng-click="search()"><i class="fa fa-search"></i>Search</button>
			<div ng-if="errorMessage" class="error" ng-class="{show:(!closed)}">
				<h2>Error !</h2>
				<p>{{errorMessage}}</p>
				<i class="fa fa-close" ng-click="closed=true"></i>
			</div>
		</div>
	</div>
</div>

<div id="search-result">
	<div ng-if="isLoading" class="loader-container">
		<div class="loader"></div>
		<span>loading data ...</span>
	</div>
	<div ng-if="result">
		<div class="item" ng-repeat="artist in result.artists">
			<div class="item-image">
				<a class="pointer" ng-click="showArtistInfo(artist)">
					<div class="image">
						<img ng-src="{{artist.images.length > 1 ? artist.images[1].url: artist.images[0].url}}">
					</div>
					<div class="select">
						<img src="assets/Images/Bitmap@2x.png">
						<span>View Albums</span>
					</div>
					<div class="mask"></div>
					<div class="artist-icon"></div>
				</a>
			</div>
			<span>{{artist.name}}</span>
		</div>
		<div class="item" ng-repeat="album in result.albums">
			<div class="item-image">
				<a class="pointer" ng-click="showAlbumInfo(album)">
					<div class="image">
						<img ng-src="{{album.images.length > 1 ? album.images[1].url: album.images[0].url}}">
					</div>
					<div class="select">
						<img src="assets/Images/Bitmap@2x.png">
						<span>View Tracks</span>
					</div>
					<div class="mask"></div>
					<div class="music-icon"></div>
				</a>
			</div>
			<span>{{album.name}}</span>
		</div>
		<div ng-if="result.artists.length>0||result.albums.length>0">
			<button ng-if="!isLoading" id="loadMoreButton" type="button" ng-click="loadMore()">show me more!</button>
			<div ng-if="isLoading" class="lazyload-container">
				<div class="loader-container">
					<div class="loader"></div>
					<span>loading data ...</span>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="result.artists.length===0&&result.albums.length===0" class="result-text">
		<span>Your results will appear here</span>
	</div>
</div>

<!-- Dialog -->
<div class="dialog" ng-class="{'active':showDialog}">
	<div class="header" style="background-image:url('{{previewImage!==null?previewImage:''}}')">
		<h6>{{isInfoLoading?'Fetching Data ...':selectedArtist}}</h6>
		<span class="close" ng-click="showDialog=false"></span>
	</div>
	<div class="content">
		<p class="title">{{selectedType==='album'?'Tracks':'Albums'}}</p>
		<hr />
		<div ng-if="selectedType==='album'" class="tracks">
			<div ng-repeat="track in tracks.items">
				<span class="track">{{track.name}}</span>
				<span class="time">{{track.duration_ms | date:'HH:mm'}}</span>
			</div>
		</div>
		<div ng-if="selectedType==='artist'" class="tracks">
			<div ng-repeat="album in albums.items">
				<div style="display:inline-block; width: 100%;">
					<img ng-src="{{album.images[2].url}}">
					<div class="detail">
						<span class="track">{{album.name}}</span>
						<span class="time">Year</span>
					</div>
				</div>
			</div>
		</div>
		<!-- <span class="track">Track one title</span>
		<span class="time">3:26</span>
		<span class="track">Track one title</span>
		<span class="time">3:26</span> -->
	</div>
</div>

<div id="copyright">
	<span>Designed by Geek Label - Powered by Spotify</span>
</div>

<div ng-show="authError" class="error" ng-class="{show:(!closed)}">
	<h2>Authentication error !</h2>
	<p ng-if="authError&&(!expires)">please check application client-id and try again.</p>
	<p ng-if="authError&&(expires)">token date expires.</p>
	<i class="fa fa-close" ng-click="closed=true"></i>
</div>

<!-- <script>
$(document).ready(function(){
  $("a").on('click', function(event) {
	if (this.hash !== "") {
	  event.preventDefault();
	  var hash = this.hash;
	  $('html, body').animate({
		scrollTop: $(hash).offset().top
	  }, 800, function(){
	  });
	}
  });
});
</script> -->